body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
}

.character-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-item {
  background-color: #444;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  margin: 10px;
  padding: 10px;
  min-width: 300px;
  max-width: 300px; /* Adjust the width as needed */
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex; /* Make it a flex container */
  flex-direction: row; /* Arrange items horizontally */
}

.character-item img {
  max-width: 100px; /* Adjust the width of the image as needed */
  border-radius: 8px;
  margin-right: 10px; /* Add some space between image and text */
  filter: brightness(75%);
  position: relative;
  transition: filter 0.3s ease-in-out;
}

.character-item img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, transparent, #fff, transparent);
  transition: width 0.3s ease-in-out;
}

.character-item img:hover::before {
  width: 100%;
}

.character-item:hover img {
  filter: brightness(100%);
}

.character-item .text {
  flex-grow: 1; /* Allow the text to grow and take remaining space */
  text-align: left; /* Align the text to the left */
}

.character-item span {
  display: block;
  margin-bottom: 8px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.character-item span:last-child {
  margin-bottom: 0;
}
